## FOR ORG SIGNAL

In [1]:
import pandas as pd
df1 = pd.read_csv(r'C:\Ninapro\S13.csv')

In [2]:
df1.head()

,ar1_ch1,ar2_ch1,ar3_ch1,ar4_ch1,ar5_ch1,ar6_ch1,ar7_ch1,ar1_ch2,ar2_ch2,ar3_ch2,...,nWL_ch4,nWL_ch5,nWL_ch6,nWL_ch7,nWL_ch8,nWL_ch9,nWL_ch10,nWL_ch11,nWL_ch12,LABEL
0,-1.182340,0.093299,0.072635,0.039198,0.006551,-0.039820,0.031302,-1.271728,0.139938,0.110354,...,0.600374,1.596437,3.592119,1.074154,0.418833,0.246773,0.022748,10.721811,9.629430,Class1
1,-1.205252,0.114655,0.093001,0.033931,-0.006233,-0.016019,0.008666,-1.255108,0.121292,0.075767,...,0.565842,1.532060,3.556380,1.109444,0.464077,0.239252,0.021960,10.109793,9.308868,Class1
2,-1.283852,0.198909,0.122303,0.025071,-0.023390,-0.018506,-0.008881,-1.338118,0.200686,0.101438,...,0.525669,1.585926,3.863619,1.191270,0.492009,0.233878,0.018786,9.466832,9.301490,Class1
3,-1.640893,0.616250,0.190355,-0.105435,-0.078237,0.073932,-0.048918,-1.451956,0.246393,0.190129,...,0.498206,1.578370,3.761330,1.064999,0.497909,0.227515,0.016690,9.131656,10.144914,Class1
4,-2.178634,1.606521,-0.210612,-0.403590,0.160341,0.148624,-0.119212,-1.248480,0.117563,0.081393,...,0.518458,1.724664,3.702161,1.040635,0.506818,0.219666,0.029106,8.429185,10.338389,Class1

In [3]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [5]:
x=df1.drop('LABEL',axis=1)
y=df1['LABEL']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [6]:
from sklearn.svm import SVC
svc_model = SVC()
svc_model.fit(x_train, y_train)

SVC()

In [7]:
svc_model.score(x_test, y_test)

0.9921671018276762

In [8]:
svc_model.score(x_train, y_train)

0.9988249118683902

##  FOR EFD DECOMPOSED SIGNAL COMP5

In [9]:
import pandas as pd
df2 = pd.read_csv(r'C:\Ninapro\S13efd.csv')
df2.head()

,ar1_ch1,ar2_ch1,ar3_ch1,ar4_ch1,ar5_ch1,ar6_ch1,ar7_ch1,ar1_ch2,ar2_ch2,ar3_ch2,...,nWL_ch4,nWL_ch5,nWL_ch6,nWL_ch7,nWL_ch8,nWL_ch9,nWL_ch10,nWL_ch11,nWL_ch12,LABEL
0,-2.603597,2.949542,-1.560243,-0.161750,0.875726,-0.599200,0.172496,-1.658165,0.934827,0.092987,...,0.547002,1.546697,3.378091,1.070597,0.134692,0.243591,0.016866,8.763304,0.001576,Class1
1,-1.658538,0.792198,0.124919,-0.130683,-0.027032,-0.012190,0.055073,-2.151370,1.956656,-0.719017,...,0.541451,1.453312,3.423372,1.032860,0.137750,0.232870,0.014317,8.549510,0.130758,Class1
2,-2.449474,2.484071,-1.019899,-0.326514,0.630229,-0.278634,0.050038,-2.715241,3.424842,-2.263230,...,0.492484,1.507745,3.744990,1.045734,0.196225,0.231066,0.012761,7.610379,0.459449,Class1
3,-1.891692,1.256170,-0.053805,-0.286655,0.056681,0.105803,-0.015322,-1.659063,0.912576,0.093853,...,0.460723,1.503826,3.674076,0.983548,0.187420,0.220760,0.012474,7.577156,1.405401,Class1
4,-2.621084,3.043365,-1.698617,-0.039947,0.855918,-0.620798,0.192399,-1.988840,1.566322,-0.353614,...,0.473916,1.696354,3.584728,0.987879,0.181594,0.215576,0.017671,7.068788,2.608424,Class1

In [10]:
x=df2.drop('LABEL',axis=1)
y=df2['LABEL']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [11]:
from sklearn.svm import SVC
svc_model2 = SVC()
svc_model2.fit(x_train, y_train)

SVC()

In [12]:
svc_model2.score(x_test, y_test)

0.9697127937336815

In [13]:
svc_model2.score(x_train, y_train)

0.9825695260477869