## S13 FOR ORG SIGNAL

In [1]:
import pandas as pd
df1 = pd.read_csv(r'C:\Ninapro\S13.csv')

In [2]:
df1.head()

,ar1_ch1,ar2_ch1,ar3_ch1,ar4_ch1,ar5_ch1,ar6_ch1,ar7_ch1,ar1_ch2,ar2_ch2,ar3_ch2,...,nWL_ch4,nWL_ch5,nWL_ch6,nWL_ch7,nWL_ch8,nWL_ch9,nWL_ch10,nWL_ch11,nWL_ch12,LABEL
0,-1.182340,0.093299,0.072635,0.039198,0.006551,-0.039820,0.031302,-1.271728,0.139938,0.110354,...,0.600374,1.596437,3.592119,1.074154,0.418833,0.246773,0.022748,10.721811,9.629430,Class1
1,-1.205252,0.114655,0.093001,0.033931,-0.006233,-0.016019,0.008666,-1.255108,0.121292,0.075767,...,0.565842,1.532060,3.556380,1.109444,0.464077,0.239252,0.021960,10.109793,9.308868,Class1
2,-1.283852,0.198909,0.122303,0.025071,-0.023390,-0.018506,-0.008881,-1.338118,0.200686,0.101438,...,0.525669,1.585926,3.863619,1.191270,0.492009,0.233878,0.018786,9.466832,9.301490,Class1
3,-1.640893,0.616250,0.190355,-0.105435,-0.078237,0.073932,-0.048918,-1.451956,0.246393,0.190129,...,0.498206,1.578370,3.761330,1.064999,0.497909,0.227515,0.016690,9.131656,10.144914,Class1
4,-2.178634,1.606521,-0.210612,-0.403590,0.160341,0.148624,-0.119212,-1.248480,0.117563,0.081393,...,0.518458,1.724664,3.702161,1.040635,0.506818,0.219666,0.029106,8.429185,10.338389,Class1

In [3]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [4]:
x=df1.drop('LABEL',axis=1)
y=df1['LABEL']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [5]:
from sklearn.svm import SVC
svc_model = SVC()
svc_model.fit(x_train, y_train)

SVC()

In [6]:
svc_model.score(x_test, y_test)

0.9929503916449086

In [7]:
svc_model.score(x_train, y_train)

0.9986943465204334

##  S13 FOR EFD DECOMPOSED SIGNAL COMP5

In [8]:
import pandas as pd
df2 = pd.read_csv(r'C:\Ninapro\S13efd.csv')
df2.head()

,ar1_ch1,ar2_ch1,ar3_ch1,ar4_ch1,ar5_ch1,ar6_ch1,ar7_ch1,ar1_ch2,ar2_ch2,ar3_ch2,...,nWL_ch4,nWL_ch5,nWL_ch6,nWL_ch7,nWL_ch8,nWL_ch9,nWL_ch10,nWL_ch11,nWL_ch12,LABEL
0,-2.603597,2.949542,-1.560243,-0.161750,0.875726,-0.599200,0.172496,-1.658165,0.934827,0.092987,...,0.547002,1.546697,3.378091,1.070597,0.134692,0.243591,0.016866,8.763304,0.001576,Class1
1,-1.658538,0.792198,0.124919,-0.130683,-0.027032,-0.012190,0.055073,-2.151370,1.956656,-0.719017,...,0.541451,1.453312,3.423372,1.032860,0.137750,0.232870,0.014317,8.549510,0.130758,Class1
2,-2.449474,2.484071,-1.019899,-0.326514,0.630229,-0.278634,0.050038,-2.715241,3.424842,-2.263230,...,0.492484,1.507745,3.744990,1.045734,0.196225,0.231066,0.012761,7.610379,0.459449,Class1
3,-1.891692,1.256170,-0.053805,-0.286655,0.056681,0.105803,-0.015322,-1.659063,0.912576,0.093853,...,0.460723,1.503826,3.674076,0.983548,0.187420,0.220760,0.012474,7.577156,1.405401,Class1
4,-2.621084,3.043365,-1.698617,-0.039947,0.855918,-0.620798,0.192399,-1.988840,1.566322,-0.353614,...,0.473916,1.696354,3.584728,0.987879,0.181594,0.215576,0.017671,7.068788,2.608424,Class1

In [9]:
x=df2.drop('LABEL',axis=1)
y=df2['LABEL']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [10]:
from sklearn.svm import SVC
svc_model2 = SVC()
svc_model2.fit(x_train, y_train)

SVC()

In [11]:
svc_model2.score(x_test, y_test)

0.9767624020887729

In [12]:
svc_model2.score(x_train, y_train)

0.9814597205901554

## S9 FOR ORG SIGNAL

In [13]:
import pandas as pd
df3 = pd.read_csv(r'C:\Ninapro\S9.csv')
df3.head()

,ar1_ch1,ar2_ch1,ar3_ch1,ar4_ch1,ar5_ch1,ar6_ch1,ar7_ch1,ar1_ch2,ar2_ch2,ar3_ch2,...,nWL_ch4,nWL_ch5,nWL_ch6,nWL_ch7,nWL_ch8,nWL_ch9,nWL_ch10,nWL_ch11,nWL_ch12,C
0,-2.521223,2.373229,-0.713543,-0.497003,0.438578,-0.035044,-0.034854,-1.691948,0.591917,0.220985,...,6.941143,3.819503,3.106167,1.495742,1.696277,1.300851,1.627605,4.593779,9.182778,Class1
1,-1.433505,0.358481,0.174970,-0.019385,-0.075336,-0.033368,0.059661,-1.317897,0.187413,0.125433,...,6.428668,4.081753,3.050340,1.559065,1.728710,1.229793,1.651775,4.181011,9.184570,Class1
2,-2.971931,3.785352,-2.411412,0.168262,0.997326,-0.808211,0.247608,-1.244226,0.201447,0.125476,...,6.850548,3.832822,3.303642,1.480652,1.565089,1.378472,1.785715,3.078879,8.504616,Class1
3,-1.418472,0.346564,0.163890,-0.036481,-0.083629,-0.025504,0.085970,-1.867852,0.928824,0.168354,...,6.694025,4.312051,3.218859,1.491782,1.701551,1.231602,1.681725,3.456387,9.086210,Class1
4,-2.007563,1.247713,0.019923,-0.369273,-0.011450,0.171503,-0.042217,-1.508747,0.420123,0.201984,...,6.907828,4.323457,3.133927,1.546925,1.560492,1.293092,1.598822,3.842746,9.037972,Class1

In [14]:
x=df3.drop('C',axis=1)
y=df3['C']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [15]:
from sklearn.svm import SVC
svc_model3 = SVC()
svc_model3.fit(x_train, y_train)

SVC()

In [16]:
svc_model3.score(x_test, y_test)

0.9929356357927787

In [17]:
svc_model3.score(x_train, y_train)

0.9985607745649614

## S9 FOR EFD DECOMPOSED SIGNAL COMP

In [23]:
import pandas as pd
df5 = pd.read_csv(r'C:\Ninapro\S9efd.csv')
df5.head()

,ar1_ch1,ar2_ch1,ar3_ch1,ar4_ch1,ar5_ch1,ar6_ch1,ar7_ch1,ar1_ch2,ar2_ch2,ar3_ch2,...,nWL_ch4,nWL_ch5,nWL_ch6,nWL_ch7,nWL_ch8,nWL_ch9,nWL_ch10,nWL_ch11,nWL_ch12,C
0,-2.447620,3.258939,-2.102264,0.327974,0.907990,-0.777002,0.340796,-1.519866,0.526912,0.215783,...,6.474938,3.863636,2.985799,1.486163,1.707903,0.975879,1.508540,4.575181,9.221928,Class1
1,-2.218797,2.684178,-1.403154,-0.051209,0.897149,-0.622900,0.271475,-1.548806,0.629561,0.234974,...,6.188759,4.058245,2.956128,1.509419,1.732143,1.064290,1.516842,4.173755,9.083804,Class1
2,-2.941553,4.907549,-5.182885,3.899922,-1.918198,0.617041,-0.043702,-1.338929,0.460083,0.219612,...,6.599680,3.932028,3.224078,1.477574,1.572113,1.307790,1.610933,3.046992,8.169688,Class1
3,-2.243127,2.810532,-1.676441,0.259634,0.696978,-0.557656,0.289622,-2.313881,2.214559,-0.749352,...,6.504720,4.352289,3.154235,1.539111,1.702096,1.166865,1.484935,3.421579,8.190267,Class1
4,-2.311593,3.005049,-1.950305,0.460368,0.644470,-0.591282,0.313431,-3.122535,4.582878,-3.763891,...,6.763549,4.377070,3.077137,1.483984,1.555896,1.251050,1.365134,3.807796,8.371690,Class1

In [24]:
x=df5.drop('C',axis=1)
y=df5['C']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [25]:
from sklearn.svm import SVC
svc_model5 = SVC()
svc_model5.fit(x_train, y_train)

SVC()

In [26]:
svc_model5.score(x_test, y_test)

0.9767137624280482

In [27]:
svc_model5.score(x_train, y_train)

0.9835797461729687

## S26 FOR ORG SIGNAL

In [18]:
import pandas as pd
df4 = pd.read_csv(r'C:\Ninapro\S26.csv')
df4.head()

,ar1_ch1,ar2_ch1,ar3_ch1,ar4_ch1,ar5_ch1,ar6_ch1,ar7_ch1,ar1_ch2,ar2_ch2,ar3_ch2,...,nWL_ch4,nWL_ch5,nWL_ch6,nWL_ch7,nWL_ch8,nWL_ch9,nWL_ch10,nWL_ch11,nWL_ch12,C
0,-1.847818,0.868182,0.159224,-0.199092,-0.073041,0.182780,-0.080518,-1.160882,0.035603,0.045039,...,1.708775,6.385790,7.044434,2.650867,1.476512,0.610176,1.735924,3.036323,5.270085,Class1
1,-1.594140,0.468545,0.201316,-0.018461,-0.045059,0.037053,-0.037508,-1.273733,0.130636,0.087819,...,1.495724,6.396501,6.883474,2.793914,1.536437,0.569359,1.719745,2.927036,5.262764,Class1
2,-1.378937,0.220280,0.163636,0.061566,-0.019346,-0.030685,0.015003,-1.255530,0.113722,0.085876,...,1.427721,6.451389,7.363995,3.379809,1.491278,0.605849,2.172996,3.270450,5.322463,Class1
3,-2.007546,1.123211,0.093356,-0.245112,0.013412,0.087319,-0.055796,-1.140246,0.065261,0.052183,...,1.565277,6.945631,7.484783,3.407258,1.412789,0.603893,2.151997,3.340773,5.078972,Class1
4,-1.819090,0.773926,0.157187,-0.073753,0.003940,-0.018854,-0.012003,-1.137397,0.062563,0.040076,...,1.714521,6.375274,7.668471,3.481466,1.463907,0.664952,2.258936,3.359594,4.979519,Class1

In [19]:
x=df4.drop('C',axis=1)
y=df4['C']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [20]:
from sklearn.svm import SVC
svc_model4 = SVC()
svc_model4.fit(x_train, y_train)

SVC()

In [21]:
svc_model4.score(x_test, y_test)

0.9926600860541634

In [22]:
svc_model4.score(x_train, y_train)

0.9967723561799886

## S26 FOR EFD DECOMPOSED SIGNAL COMP

In [33]:
import pandas as pd
df6 = pd.read_csv(r'C:\Ninapro\S26efd.csv')
df6.head()

,ar1_ch1,ar2_ch1,ar3_ch1,ar4_ch1,ar5_ch1,ar6_ch1,ar7_ch1,ar1_ch2,ar2_ch2,ar3_ch2,...,nWL_ch4,nWL_ch5,nWL_ch6,nWL_ch7,nWL_ch8,nWL_ch9,nWL_ch10,nWL_ch11,nWL_ch12,C
0,-1.953621,1.188928,0.066852,-0.356648,-0.027296,0.224016,-0.051810,-1.873903,1.055731,0.099653,...,1.760274,5.915253,6.752850,2.544348,1.476179,0.601726,1.598569,3.012160,5.083982,Class1
1,-1.907887,1.079664,0.081667,-0.241870,-0.040757,0.141198,-0.026993,-1.695783,0.741939,0.176482,...,1.549376,6.003098,6.663740,2.737151,1.533347,0.559303,1.613188,2.948234,5.012973,Class1
2,-2.054950,1.341025,-0.043435,-0.255904,0.025586,0.050543,0.009378,-1.862284,1.003211,0.101397,...,1.512382,6.002927,7.151722,3.296247,1.500040,0.596704,2.023743,3.247515,5.046390,Class1
3,-2.081816,1.455013,-0.147494,-0.309042,0.155266,0.025748,-0.025357,-2.359897,2.043512,-0.582715,...,1.604944,6.400470,7.300012,3.285320,1.427307,0.596297,2.138656,3.312909,4.988599,Class1
4,-1.914646,1.099393,0.097305,-0.278679,0.009541,0.131298,-0.052540,-1.957173,1.029338,0.271611,...,1.761883,5.992714,7.285079,3.346753,1.482062,0.659354,2.287106,3.311584,4.937157,Class1

In [34]:
x=df6.drop('C',axis=1)
y=df6['C']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [35]:
svc_model6 = SVC()
svc_model6.fit(x_train, y_train)

SVC()

In [36]:
svc_model6.score(x_test, y_test)

0.9835484687420906

In [37]:
svc_model6.score(x_train, y_train)

0.9853806721093602

## Three Subject FOR ORG SIGNAL

In [51]:
import pandas as pd
df7 = pd.read_csv(r'C:\Ninapro\SALL.csv')
df7.head()

,ar1_ch1,ar2_ch1,ar3_ch1,ar4_ch1,ar5_ch1,ar6_ch1,ar7_ch1,ar1_ch2,ar2_ch2,ar3_ch2,...,nWL_ch4,nWL_ch5,nWL_ch6,nWL_ch7,nWL_ch8,nWL_ch9,nWL_ch10,nWL_ch11,nWL_ch12,C
0,-2.521223,2.373229,-0.713543,-0.497003,0.438578,-0.035044,-0.034854,-1.691948,0.591917,0.220985,...,6.941143,3.819503,3.106167,1.495742,1.696277,1.300851,1.627605,4.593779,9.182778,Class1
1,-1.433505,0.358481,0.174970,-0.019385,-0.075336,-0.033368,0.059661,-1.317897,0.187413,0.125433,...,6.428668,4.081753,3.050340,1.559065,1.728710,1.229793,1.651775,4.181011,9.184570,Class1
2,-2.971931,3.785352,-2.411412,0.168262,0.997326,-0.808211,0.247608,-1.244226,0.201447,0.125476,...,6.850548,3.832822,3.303642,1.480652,1.565089,1.378472,1.785715,3.078879,8.504616,Class1
3,-1.418472,0.346564,0.163890,-0.036481,-0.083629,-0.025504,0.085970,-1.867852,0.928824,0.168354,...,6.694025,4.312051,3.218859,1.491782,1.701551,1.231602,1.681725,3.456387,9.086210,Class1
4,-2.007563,1.247713,0.019923,-0.369273,-0.011450,0.171503,-0.042217,-1.508747,0.420123,0.201984,...,6.907828,4.323457,3.133927,1.546925,1.560492,1.293092,1.598822,3.842746,9.037972,Class1

In [52]:
x=df7.drop('C',axis=1)
y=df7['C']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [53]:
svc_model7 = SVC()
svc_model7.fit(x_train, y_train)

SVC()

In [54]:
svc_model7.score(x_test, y_test)

0.9826754007929668

In [55]:
svc_model7.score(x_train, y_train)

0.993384476145326

## Three Subject FOR EFD DECOMPOSED SIGNAL COMP

In [46]:
import pandas as pd
df8 = pd.read_csv(r'C:\Ninapro\SALLefd.csv')
df8.head()

,ar1_ch1,ar2_ch1,ar3_ch1,ar4_ch1,ar5_ch1,ar6_ch1,ar7_ch1,ar1_ch2,ar2_ch2,ar3_ch2,...,nWL_ch4,nWL_ch5,nWL_ch6,nWL_ch7,nWL_ch8,nWL_ch9,nWL_ch10,nWL_ch11,nWL_ch12,C
0,-2.447620,3.258939,-2.102264,0.327974,0.907990,-0.777002,0.340796,-1.519866,0.526912,0.215783,...,6.474938,3.863636,2.985799,1.486163,1.707903,0.975879,1.508540,4.575181,9.221928,Class1
1,-2.218797,2.684178,-1.403154,-0.051209,0.897149,-0.622900,0.271475,-1.548806,0.629561,0.234974,...,6.188759,4.058245,2.956128,1.509419,1.732143,1.064290,1.516842,4.173755,9.083804,Class1
2,-2.941553,4.907549,-5.182885,3.899922,-1.918198,0.617041,-0.043702,-1.338929,0.460083,0.219612,...,6.599680,3.932028,3.224078,1.477574,1.572113,1.307790,1.610933,3.046992,8.169688,Class1
3,-2.243127,2.810532,-1.676441,0.259634,0.696978,-0.557656,0.289622,-2.313881,2.214559,-0.749352,...,6.504720,4.352289,3.154235,1.539111,1.702096,1.166865,1.484935,3.421579,8.190267,Class1
4,-2.311593,3.005049,-1.950305,0.460368,0.644470,-0.591282,0.313431,-3.122535,4.582878,-3.763891,...,6.763549,4.377070,3.077137,1.483984,1.555896,1.251050,1.365134,3.807796,8.371690,Class1

In [47]:
x=df8.drop('C',axis=1)
y=df8['C']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [48]:
svc_model8 = SVC()
svc_model8.fit(x_train, y_train)

SVC()

In [50]:
svc_model8.score(x_test, y_test)

0.9624202723668333

In [49]:
svc_model8.score(x_train, y_train)

0.9729560832650951

## S13 FOR PCA

In [1]:
import pandas as pd
df9 = pd.read_csv(r'C:\Ninapro\S13efdpca.csv')

In [4]:
x=df9.drop('C',axis=1)
y=df9['C']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [5]:
svc_model9 = SVC()
svc_model9.fit(x_train, y_train)

SVC()

In [6]:
svc_model9.score(x_test, y_test)

0.9660574412532638

In [7]:
svc_model9.score(x_train, y_train)

0.9771510641075859

## S9 FOR PCA

In [8]:
import pandas as pd
df10 = pd.read_csv(r'C:\Ninapro\S9efdpca.csv')

In [9]:
x=df10.drop('C',axis=1)
y=df10['C']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [10]:
svc_model10 = SVC()
svc_model10.fit(x_train, y_train)

SVC()

In [11]:
svc_model10.score(x_test, y_test)

0.9761904761904762

In [12]:
svc_model10.score(x_train, y_train)

0.984953552270051

## S26 FOR PCA

In [13]:
import pandas as pd
df11 = pd.read_csv(r'C:\Ninapro\S26efdpca.csv')

In [14]:
x=df11.drop('C',axis=1)
y=df11['C']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [15]:
svc_model11 = SVC()
svc_model11.fit(x_train, y_train)

SVC()

In [16]:
svc_model11.score(x_test, y_test)

0.9802581624905087

In [17]:
svc_model11.score(x_train, y_train)

0.9856971077779887

## Three Subject FOR PCA

In [18]:
import pandas as pd
df12 = pd.read_csv(r'C:\Ninapro\SALLefdpca.csv')

In [19]:
x=df12.drop('C',axis=1)
y=df12['C']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [20]:
svc_model12 = SVC()
svc_model12.fit(x_train, y_train)

SVC()

In [21]:
svc_model12.score(x_test, y_test)

0.9563868298569213

In [22]:
svc_model12.score(x_train, y_train)

0.9655216997802009